nav{

}
.headingbenefits{
    background-color: antiquewhite;
}
.insidebenefits{
    
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align:left;
    padding-bottom: 100px;
}